S3method("Y<-",background)
S3method("Y<-",dataset)
S3method(X,background)
S3method(X,dataset)
S3method(Y,background)
S3method(Y,dataset)
S3method(new_dataset,character)
S3method(new_dataset,numeric)
export("Sigma<-")
export("X<-")
export("X<-.background")
export("Y<-")
export("Y<-.background")
export("Y<-.dataset")
export(Deviation)
export(NoisyTestFunction)
export(OptimizeKnotValues)
export(Psi)
export(Sigma)
export(X)
export(X.background)
export(XFractions)
export(Y)
export(Y.background)
export(is.background)
export(is.dataset)
export(new_background)
export(new_dataset)
export(plot.dataset)
export(points.background)
import(trust)
